# OpenAI
OPENAI_API_KEY=sk-<your-OPENAI_API_KEY-here>
OPENAI_MODEL=gpt-4o-mini

# MCP Servers
PRODUCT_MCP_BASE_URL=http://localhost:8001
REFUND_POLICY_MCP_BASE_URL=http://localhost:8002
ORDER_MCP_BASE_URL=http://localhost:8003
REFUND_MCP_BASE_URL=http://localhost:8004